* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("img/background.png")  0 0px;
    background-size: contain;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}



}

.nav {
    padding: 8px 16px 8px 16px;
    margin-top: 8px;
    font-size: 22px;
    font-family: 'Lexend Deca', sans-serif;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;


}

header {
    height: 550px;
    justify-content: space-around;
    height: 100%;
    letter-spacing: 1px;
/*    margin-bottom: 150px*/
}


.nav ul {
    float: right;
    padding: 0px 20px 0px 0px;

}

.nav a {
    text-decoration: none;
}

.nav ul a {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

.nav ul a:hover {
    color: black;
    font-weight: bold;
    border-color: black;
}

.nav ul li:hover {
    color: black;
    font-weight: bold;
    border-color: black;
}


.nav ul li a {
    padding: 20px 20px 20px 20px;
}

.nav ul li {
    text-decoration: none;
    display: inline;
    margin: 0px 0px 0px 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    height: auto;
}

#csiLogo {
    padding: 20px 10px 0px 20px;
}

#csiLogo a:hover {
    color: black;
}

#csiLogo a {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    position: fixed;
    letter-spacing: 2px;
    font-weight: 600;
}


.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 650px;
    width: 100%;


}

.headerLogo {
    padding-top: 7rem;
    margin: 0;
    opacity: 0.8;
    margin-bottom: 0px;
}

.headerLogo img{
    width: 220px;
    height: 220px;
    transition: transform 0.5s;
    
}

.headerLogo img:hover{
    transform: scale(1.1) rotate(720deg);
}

/*
@keyframes rotate{
    100% { transform: rotate(360deg); transform:rotate(720deg); }
}
*/

.logoText {
   
    padding: 10px 0px 10px 0px;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: 10px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    align-items: center;
}

.logoLinks {
    
    align-content: center;
    justify-content: space-around;
    

}

.logoLinks a {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    padding: 15px 15px 15px 15px;
    text-transform: uppercase;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 100px;
}

.logoLinks a:hover{
    
}

hr {
    color: lightgray;
    display: block;
    margin-bottom: 0.5rem;
    border-style: inset;
}


.buttons{
    text-decoration: none;
    margin-top: 40px;
    height: 40px;
    width: 80px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}

.buttons a{
    color: black;
    text-decoration: none;
    padding: 15px 20px 05px 20px;
}

.buttons a:hover{
    color: white;
/*
    text-decoration: none;
    padding: 15px 20px 15px 20px;
*/
}


.buttons:hover{
    transition: 0.5s;
    background-color: #00695c;
    color: white;
    color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

main {
    background-color: #cccccc;
}



#showcase .container img {
    width: 250px;
    margin-top: 200px;
    margin-left: 300px;
}


.textImg{
    float: right;
    height: 200px;
}

.box p{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: gray;
    justify-content: space-around;
/*    align-content: center;*/
}



#section {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

#boxes {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    padding: 40px 80px 40px 80px;
/*    height: 400px;*/
}

.box {
    border-radius: 20px;
    margin-bottom: 60px;
    padding: 0px 30px 0px 30px;
    padding-top: 30px;
    background-color: white;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: flex-end;
}


/*
.footer{
    align-items: center;
    height: 100px;
    background-color: #00695c;
    
}
*/

.footerLogos{
    background:linear-gradient(to bottom,rgba(222220, 22220, 0, 0), rgba(222220, 222220, 0, 0)), url(img/footer.png);
    height: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px dotted white;
}

.footerLogos img{
    height: 25px;
    width: 25px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.1s;
     
    
}

.footerLogos img:hover{
    transform: rotate(-15deg);
}

.copyright{
    height: 20px;
    color: white;
    font-size: 10px;
    background-color: #00695c;
    display: flex;
    justify-content: center;
}








