* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("img/background.png") no-repeat 0 -55px;
    background-size: contain;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;


}

.nav {
    padding: 8px 16px 8px 16px;
    height: 3rem;
    margin-top: 8px;
    font-size: 22px;
    font-family: 'Lexend Deca', sans-serif;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;


}

.nav a {
    text-decoration: none;
}

.nav ul a {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

.nav ul a:hover {
    color: black;
    font-weight: bold;
}

#csiLogo a:hover {
     color: black;
}

nav ul li a{
    padding: 20px 20px 20px 20px; 
}
.nav ul li{
    text-decoration: none;
    display: inline;
    padding: o;
    margin: 0px 0px 0px 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    height: auto;
}



#csiLogo a {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    position: fixed;
    letter-spacing:2px;
    font-weight: 600;
}


.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.headerLogo {
    padding-top: 7rem;
    margin: 0;
/*
    height: 22rem;
    width: 22rem;
*/
/*    margin-top: 200px;*/
    opacity: 0.8;
}

.logoText {
    
    padding: 10px 0px 10px 0px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    font-size: 59px;
    color: white;
    align-items: center;
}

.logoLinks{
    
    align-content: center;
    justify-content: space-around;
    
}

.logoLinks a{
    padding: 20px 20px 20px 20px;
    text-transform: uppercase;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
/*
    margin-right: 20px;
    margin-left: 20px;
*/
    border: 2px solid white;
    border-radius: 100px;
    
    
}




/**/



header {
    text-align: center;
    justify-content: space-around;
    height: 642px;

    color: #fff;
    padding-top: 0px;
    min-height: 70px;
/*    border-bottom: #a4891d 3px solid;*/
    letter-spacing: 1px;
}

/*

header li {
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}
*/

header #csi {
    margin: 0px;
    padding: 0;

    position: fixed;
    float: left;


}




header nav {
    float: right;


}



text-decoration: none;
color: #fff;
text-transform: uppercase;
font-size: 14px;
}


main {
    background-color: lightgray;
}



a #showcase {
    background
}

#showcase .container img {
    width: 250px;
    margin-top: 200px;
    margin-left: 300px;
}


#section {
    background-color: lightgray;
}

#boxes {
    padding: 40px 20px 40px 20px;
}

.box {
    border-radius: 20px;
    margin-bottom: 60px;
    padding: 0px 30px 0px 30px;
    padding-top: 30px;
    background-color: white
}


hr {
    color: lightgray;
    display: block;
    margin-bottom: 0.5rem;
    border-style: inset;
}















/*
html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.5)), url("img/background.png") center no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: black;
    
}

header{
    width: 100%;
    height: 100vh;
    
    
    
}

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    
}

nav{
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    background-color: red;
    
}

nav ul{
    display: flex;
   margin-left: auto;
}

nav ul li{
    list-style: none;
    
}

nav ul li a{
    padding: 1rem;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}


.csi h1{
    justify-content: center;
    align-items: center;
}
*/

















































/*
nav {
    display: flex;
    min-height: 8vh;
    justify-content: space-around;
    align-items: center;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;

}

.top {
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;




}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: antiquewhite;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

img{
    opacity: 10%;
    width: 100px
    
    
    
    
    
}*/
